.SearchBox {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	input {
		background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 16px;
    height: 70%;
    width: 90%;
    padding: 10px;
	}
}